.background {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  flex-direction: row; /* mudar para linha */
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8%;
  overflow: hidden;
  margin-bottom: 20px;
}

/* posicionar imagem de fundo */
.background::before {
  content: "";
  position: absolute;
  left: -80px;
  width: 500px;
  height: 450px;
  background-image: url('../../assets/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.7;
}

.left {
  flex: 1;
  z-index: 1; 
}

.right {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.line {
    position: relative;
    background-color: #0699A6;
    width: 100%;
    height: 6px;
    margin: 30px 0 20px 0;
    left: -20%;
}
.socialWrapper {
  margin-left: 10%; /* empurra 10% para a direita */
}
