.background {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  flex-direction: row; /* mudar para linha */
  justify-content: space-between;
  align-items: center;
  padding: 2rem ;
  margin-bottom: 20px;
}

/* posicionar imagem de fundo */
.background::before {
  content: "";
  position: absolute;
  left: -80px;
  width: 500px;
  height: 450px;
  background-image: url('../../assets/images/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.7;
}

.left {
  flex: 1;
  z-index: 1; 
}

.right {
  flex: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.line {
    position: relative;
    background-color: #0699A6;
    width: 100%;
    height: 6px;
    margin: 30px 0 20px 0;
    left: -20%;
}
.socialWrapper {
  margin-left: 10%; /* empurra 10% para a direita */
}

.maefilho {
  position: relative;
  max-width: 95%;
  height: auto;
  object-fit: contain;
  align-self: flex-end;
  right: -10%;
  bottom: -3.3rem;
}


.heroSubtitle {
  font-weight: bold;
  font-size: 1rem;
}

.heroHighlight {
  color: #00B894;
}

.heroTitle {
  font-size: 2.8rem;
  font-weight: 250;
  line-height: 1.4;
}


@media (max-width: 905px) {
  .heroTitle {
    font-size: 1.4rem;
  }
  .background::before {
    display: none;
  }
}
@media (max-width: 672px) {
  .heroTitle {
    font-size: 1rem;
  }
  .heroSubtitle {
    font-size: 0.75rem;
  }
}
@media (max-width: 510px) {
  .heroTitle {
    font-size: 1.4rem;
  }
  .heroSubtitle {
    font-size: 1rem;
  }
  .background {
    padding-top: 40px;
    flex-direction: column; /* mudar para linha */
    align-items: baseline;
  }
  .line {
    width: 120%;
    left: -20%;
  }
  .maefilho {
    max-width: 70%;
    right: -25%;
    bottom: 0;
  }
}