.navbar {
    width: 100%;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}

.logoWrapper {
    margin-left: 2%;
}

.center {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.link {
    color: #042267;
    font-size: 105%;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.right {
    position: relative; /* necessário para o botão ficar dentro */
    width: 260px; /* largura máxima que o botão terá */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.botaoFinal {
    position: absolute; /* tira do fluxo normal */
    right: 0; /* cola na direita da div .right */
    background: linear-gradient(90deg, #042267 0%, #037F89 100%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    padding: 0 20px;
    transition: width 0.3s ease;
    z-index: 10;
}

.botaoFinal:hover {
    width: 260px;
}