.navbar {
    width: 100%;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box; 
}

.logoWrapper {
    margin-left: 2%;
}

.center {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.link {
    color: #042267;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.right {
    position: relative; /* necessário para o botão ficar dentro */
    width: 15rem; /* largura máxima que o botão terá */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
}

.botaoFinal {
    position: absolute; /* tira do fluxo normal */
    right: 0; /* cola na direita da div .right */
    background: linear-gradient(90deg, #042267 0%, #037F89 100%);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    padding: 0 20px;
    transition: width 0.3s ease;
    z-index: 10;
}

.botaoFinal:hover {
    width: 110%;
}

@media (max-width: 1024px) {
    .center {
        margin-left: -10%;
    }
    .botaoFinal:hover {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .botaoFinal {
        font-size: 12px;
        border-radius: 30px 0 0 30px;
        width: 70%;
        height: 40px;
        text-align: center;
    }
    .link {
        font-size: 0.8rem;
    }
    .center {
        margin-left: -15%;
    }
    .botaoFinal:hover {
        width: 80%;
    }
}
@media (max-width: 672px) {
    .botaoFinal {
        font-size: 0.65rem;
    }
    .link {
        font-size: 0.75rem;
    }
    .right {
        width: 35%; /* largura máxima que o botão terá */
    }
}
@media (max-width: 375px) {
    .botaoFinal {
        margin-top: 50px;
        font-size: 0.65rem;
        width: 120%;
    }
    .botaoFinal:hover {
        width: 140%;
    }
}