.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 100px;
  z-index: 10;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 24px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 10px;
    color: #263C8D;
    letter-spacing: 0.5px;
}

.bottomBar {
    background-color: #001D70;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 6px;
}
