.logo {
    display: flex;
    max-width: 60%;
    gap: 5%;
}
.name {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.image {
    width: 50%;
}
.imagetext {
    width: 100%;
}
@media (max-width: 768px) {
    .logo {
        max-width: 50%;
    }
    .image {
        width: 50%;
    }
    .imagetext {
        width: 100%;
    }
}