.logo {
    display: flex;
    gap: 10px;
    
}
.name {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.image {
    width: 80px;
}