.serviceSection {
  background-color: #00A3AD;
  border-radius: 60px;
  color: white;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  padding: 4rem 0;
  box-sizing: border-box;
  position: relative;
  margin-top: -250px;
  z-index: 2;
}

.title {
    background-color: #002A5C;
    color: white;
    padding: 25px 24px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
    width: 40%;
    position: relative;
    right: -6%;
    margin-bottom: 5%;
}

.titlediv {
    display: flex;
    justify-content: end;
}

.description {
  font-size: 1.5rem;  
  margin-bottom: 3rem;
  width: 70%;
  margin-left: 15%;
  font-weight: bold;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.backgroundgroup {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.reverse {
  flex-direction: row-reverse;
}

.image {
  object-fit: contain;
  flex-shrink: 0;
  margin: 0 11%;
  width: 10%;
}

.card {
  width: 70%;
  background-color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.cardLeftRounded {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.cardRightRounded {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.textBox {
  flex: 1;
}

.text {
  color: #004050;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.textfooter {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  width: 70%;
  margin-left: 15%;
  font-weight: bold;
}

.footer {
  font-size: 0.95rem;
  color: white;
}


@media (max-width: 768px) {
  .title {
    font-size: 1.3rem;
  }
  .description {
    font-size: 1.2rem;  
  }
  .text {
    font-size: 1rem;
    max-width: 70%;
  }
  .textBox {
    padding-left: 15%;
  }
  .image {
    margin: 0 11%;
    width: 15%;
  }
  .textfooter {
    font-size: 1.2rem;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 1rem;
  }
  .description {
    font-size: 0.75rem;  
  }
  .text {
    font-size: 0.75rem;
    max-width: 70%;
  }
  .textBox {
    padding-left: 15%;
  }
  .image {
    margin: 0 11%;
    width: 15%;
  }
  .textfooter {
    font-size: 0.75rem;
  }
  .card {
    width: 70%;
    padding: 1rem;
  }
}
@media (max-width: 490px) {
  .title {
    font-size: 0.75rem;
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 0.70rem;
  }
  .serviceSection {
    margin-top: -100px;
  }
    .description {
    font-size: 0.70rem;  
  }
  .text {
    font-size: 0.70rem;
    max-width: 70%;
  }
  .textfooter {
    font-size: 0.70rem;
  }
}