.social {
  display: flex;
  gap: 24px;
  margin-top: 30px;
}

.icon {
  width: 64px;
  height: 64px;
  display: flex; /* 👈 necessário */
  justify-content: center; /* 👈 centraliza horizontalmente */
  align-items: center;     /* 👈 centraliza verticalmente */
  transition: transform 0.2s ease;
}

.icon img {
  width: 80%; /* ou 100% se quiser ocupar todo espaço */
  height: 80%;
  object-fit: contain;
}

.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .icon {
    width: 40px;
    height: 40px;
  }
}
